.portfolio_wrapper {
    font-family: 'Inconsolata', monospace;
    background-color: #010030;
    min-height: 50vh;
}

.main_carousel {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly !important;
}

.portfolio_heading {
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
    padding-top: 30px;
}

@media screen and (max-width: 1030px) {
    .main-carousel {
        flex-wrap: wrap;
    }

}